on:
  push:
  pull_request:
  workflow_dispatch:

name: Build and run tests

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs-version:
          - "28.2"
          - "29.4"
          - snapshot
    steps:
      - uses: actions/checkout@v4
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}
      - uses: extractions/setup-just@v2
      - uses: actions/cache@v4
        id: cache-cask-packages
        with:
          path: .cask
          key: cache-cask-packages-${{ matrix.emacs-version }}-001
      - uses: actions/cache@v4
        id: cache-cask-executable
        with:
          path: ~/.cask
          key: cache-cask-executable-001
      - uses: conao3/setup-cask@master
        if: steps.cache-cask-executable.outputs.cache-hit != 'true'
        with:
          version: snapshot
      - run: echo "$HOME/.cask/bin" >> $GITHUB_PATH
      - name: install
        run: just compile
      - name: run tests
        run: just test
